body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('Photos/background.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content {
  margin-left: 250px;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.total-price {
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .content {
    margin-left: 0;
  }
}

  
  .container {
    display: flex;
  }
  
  .sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #111;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar a:not(:first-child) {
    border-top: 1px solid #bbb;
  }
  
  .container .content {
    flex: 1;
    padding: 16px;
  }
  .about {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  
  #toggleBtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: #fff;
    border: none;
    padding: 10px 15px;
  }
  
  #toggleBtn:hover {
    background-color: #444;
  }
  